In [105]:
import pandas as pd

In [106]:
import os

In [107]:
DATA_PATH = os.path.join(os.path.curdir, 'names')

In [108]:
year_list = [1990]

In [124]:
for year in year_list:
    file_path = os.path.join(
        DATA_PATH, f'yob{year}.txt'
    )
    file_data = pd.read_csv(
        file_path,
        names=['Name', 'Gender', 'Count'],
    
    )

            Name Gender  Count
0        Jessica      F  46475
1         Ashley      F  45558
2       Brittany      F  36538
3         Amanda      F  34408
4       Samantha      F  25866
5          Sarah      F  25816
6      Stephanie      F  24861
7       Jennifer      F  22226
8      Elizabeth      F  20744
9         Lauren      F  20500
10         Megan      F  20256
11         Emily      F  19363
12        Nicole      F  17951
13         Kayla      F  17538
14         Amber      F  15864
15        Rachel      F  15705
16      Courtney      F  15379
17      Danielle      F  14334
18       Heather      F  14220
19       Melissa      F  13996
20       Rebecca      F  13672
21      Michelle      F  13420
22       Tiffany      F  13159
23       Chelsea      F  12781
24     Christina      F  11926
25     Katherine      F  11624
26        Alyssa      F  11262
27       Jasmine      F  11035
28         Laura      F  10910
29        Hannah      F  10274
...          ...    ...    ...
24689     Yarden      M      5
24690    Yardley      M      5
24691  Yeshayahu      M      5
24692    Yiannis      M      5
24693     Yishai      M      5
24694    Yitzhak      M      5
24695   Yochanan      M      5
24696       Yoon      M      5
24697    Yoshiki      M      5
24698       Yuya      M      5
24699     Yvette      M      5
24700     Yvonne      M      5
24701   Zaccaria      M      5
24702     Zacery      M      5
24703   Zachaery      M      5
24704      Zafir      M      5
24705      Zaher      M      5
24706      Zahid      M      5
24707      Zakir      M      5
24708      Zamar      M      5
24709        Zan      M      5
24710     Zander      M      5
24711   Zedekiah      M      5
24712     Zephan      M      5
24713     Zerick      M      5
24714       Zeus      M      5
24715      Ziyad      M      5
24716      Zoilo      M      5
24717      Zoran      M      5
24718        Zvi      M      5

[24719 rows x 3 columns]

In [123]:
sv = file_data.sort_values(by=['Count'], ascending=False)
max_names = sv.head(3)
print(max_names)
max_names.Name

              Name Gender  Count
15235      Michael      M  65282
15236  Christopher      M  52332
0          Jessica      F  46475

15235        Michael
15236    Christopher
0            Jessica
Name: Name, dtype: object